.popblack{ font-weight: 900;}
.popexbold{ font-weight: 800;}
.popbold{ font-weight: 700;}
.popsemibold{ font-weight: 600;}
.popreg{ font-weight: 400;}
.poplight{ font-weight: 300;}
.popthin{ font-weight: 200;}

*, ::after, ::before{
    box-sizing: border-box;
}

body, html{
    font-family: 'Poppins', sans-serif; 
    font-weight: 300; 
    padding: 0px;
    margin: 0px;
    font-size:13px;
    color:#333; 
    scroll-behavior: smooth; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
img{ 
    max-width: 100%; 
    vertical-align: middle;
}
.material-symbols-outlined{
    font-size: 20px;
}

.gap-1{
    gap: 1rem;
}
.gap-2{
    gap: 2rem;
}
.gap-3{
    gap: 3rem;
}
p{
    margin-bottom: 0;
}

hr{
    border-color: #ffffff29;
}

/*header*/

#app {
    max-width: 350px;
    overflow: auto;
    border-radius: 8px;    
    background: #18181852;
    backdrop-filter: blur(8px);
    border: 1px solid #ffffff40;
    padding: 10px;
}
.form-control::placeholder{
	color: rgba(255, 255, 255, 0.562);
}
.form-control:focus{
    border-color: #fff;
    color: #fff;
}

.form-control{
	background: transparent !important;
    border: 1px solid #ffffff40;
    border-radius: 0;
	box-shadow: none !important;
	height: 35px;
    border-radius: 50px;
    color: #fff;
    font-weight: 600;
}
.search_icon{
	position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
	color: rgba(255, 255, 255, 0.562);
}


.tempArea .temp{
    font-size: 50px;
}
.weather-details h6{
    width: 100px;
}

.weather-details span + h6{
    text-align: right;
}
